 
$btnbg:#395168;
$tablebg :#3e4d5b;
$prim: #131816;

$line-height-ahu: 0.5em; 
$ahu-padding:4px;
$site-font-ahu: 'Roboto', sans-serif;
$table-color:white;
$site-fontsize:12px;
 
 
 

// select{ width: 90px !important; padding:4px 0px;  margin:4px 0px;}
// input[type=text]{  width: 80px !important;  padding:4px 0px;  margin:4px 0px;}
   
// button{
//     background: linear-gradient(45deg, rgba(108,126,226,1) 0%, rgba(66,159,236,1) 89%); 
//     border: 0;  padding: 6px 10px;  margin: 0 auto 10px auto; color: $prim;
//     border-radius: 3px;display: inline; cursor: pointer; font-size: 18px; font-weight: bold;
//     &:hover{ background: linear-gradient(45deg, rgba(66,159,236,1) 0%, rgba(108,126,226,1) 89%);  }
//     a:hover{text-decoration: underline;}
//     }
    .heading{font-size: 1.0rem; font-weight: bold; line-height: 2; text-transform: uppercase; }
    /*.ui-widget-header {background: none !important; border: 1px solid #dddddd !important;}*/
    .ui-tabs-vertical {  margin-top: 10px;margin-bottom: 50px; }
    /* .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; background-color: none !important; }*/
    .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; 
        border-right-width: 0 !important; margin: 0 -1px .2em 0; background-color: none !important; }
    .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
    .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
     /* .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 84%;} */
     label {font-weight: bold;color: #31859c; font-size:12px; padding:0 2px; margin: 0px;}
     .formbg {background: #ddf0f5;; border: solid #bed6dd 1px; border-radius: 4px;}